/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f0faff;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #febeb7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
  
}
.nav {
  justify-content: space-between;
}
a {
  color: #000000;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #000000;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
.login-btn {
  display: block;
  width: 70px;
  padding: 10px;
  margin-top: 30px; /* Jarak antara deskripsi dan tombol login */
  background-color: #febeb7;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  
}

.login-btn:hover {
  background-color: #666;
}

/*exhale*/
.product {
  display: flex;
  align-items: center;
}

.deskripsi {
  flex: 1; /* Memenuhi sisa ruang yang tersedia */
  padding-right: 50px; /* Memberikan jarak antara deskripsi dan gambar */
  margin-left: 80px;
}

.gambar img {
  width: 600px; /* Sesuaikan lebar gambar */
  height: auto; /* Biarkan tinggi disesuaikan secara otomatis */
}
.deskripsi h2{
  font-size: 50px;
}

/*bestproduk*/
.pheading {
  text-align: center;
  margin: 50px 0;
  color: #000000;
  font-size: 30px;
}
.pheading span {
  color: #febeb7;
  font-family: 'Roboto', sans-serif;
}

/*produk bestseller*/
.sec {
  padding: 10px 5%;
}

.produk{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}
.produk .card {
  width: 310px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0 ,0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}
.produk .card img {
  height: 250px;
  width: 100%;
}

.produk .card .title {
  font-weight: 900;
  font-size: 17px;
  color: #000000;
  padding: 0 20px;
  margin-top: -25px;
}
.produk .card .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.produk .card .box .harga {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-top: -30px;
  
}
.produk .card .box .btn {
  font-size: 10px;
  color: #ffffff;
  padding: 10px 10px;
  font-weight: 900;
  border: 1px solid #febeb7;
  border-radius: 20px;
  background: #febeb7;
  
}
.produk .card .box .btn:hover {
  cursor: pointer;
  background-color: #666;

}

/*efek sorot*/
.produk .img{
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 5px 9px rgba(250, 250, 250, 0.1);
  transition: transform 0.7s; /* Transisi efek gerak */
  width: 100%;
  height: auto;
}

.img:hover {
  transform: scale(1.1); /* Perbesar image saat disorot */
}


/*efek sorot*/
.produk .img{
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 5px 9px rgba(250, 250, 250, 0.1);
  transition: transform 0.7s; /* Transisi efek gerak */
  width: 100%;
  height: auto;
}

.img:hover {
  transform: scale(1.1); /* Perbesar image saat disorot */
}








/*footer*/
.footer {
  margin: -100px;
 }
.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}